<a href="https://colab.research.google.com/github/ddodds42/DS-Unit-1-Build/blob/master/Nation_Names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
hpi = pd.read_excel('HPI_name_mergeable.xlsx')
hpi

    NS_code Nation_State  TARG_HPI_trend_coeff  TARG_HPI_mean
0       ALB      Albania              0.152621       0.772789
1       DZA      Algeria              0.065685       0.751174
2       AGO       Angola              0.030949      -1.138538
3       ARG    Argentina              0.029558       1.154674
4       ARM      Armenia              0.031056       0.049490
..      ...          ...                   ...            ...
153     ZWE     Zimbabwe              0.186163      -1.428003
154     IRQ         Iraq              0.026394       0.162841
155     SRB       Serbia             -0.008605       0.234387
156     AFG  Afghanistan             -0.023271      -0.664633
157     LBR      Liberia              0.019033      -0.728060

[158 rows x 4 columns]

In [0]:
revgdp = pd.read_excel('RevGDP_sandbox.xlsx')
revgdp.head()

  Nation_State  CW_RevGDP_mean
0        Aruba             NaN
1  Afghanistan       -0.218859
2       Angola       -0.199260
3      Albania       -0.060927
4      Andorra             NaN

In [0]:
cwgi.rename(columns={'Data Source':'Nation_State','World Development Indicators':'NS_code'},inplace=True)
codex.head()

In [0]:
codex0 = pd.read_excel('API_SI.POV.GINI_DS2_en_csv_v2_656877.xlsx')
codex0.head()

         Data Source World Development Indicators  ... Unnamed: 62 Unnamed: 63
0                NaN                          NaN  ...         NaN         NaN
1  Last Updated Date          2019-12-20 00:00:00  ...         NaN         NaN
2                NaN                          NaN  ...         NaN         NaN
3       Country Name                 Country Code  ...      2018.0      2019.0
4              Aruba                          ABW  ...         NaN         NaN

[5 rows x 64 columns]

In [0]:
codex = codex0.iloc[4:,0:2]
codex.head()

   Data Source World Development Indicators
4        Aruba                          ABW
5  Afghanistan                          AFG
6       Angola                          AGO
7      Albania                          ALB
8      Andorra                          AND

In [0]:
codex.rename(columns={'Data Source':'Nation_State','World Development Indicators':'NS_code'},inplace=True)
codex.head()

  Nation_State NS_code
4        Aruba     ABW
5  Afghanistan     AFG
6       Angola     AGO
7      Albania     ALB
8      Andorra     AND

In [0]:
codex.loc['DZA']

KeyError: ignored

In [0]:
merge0 = pd.merge(revgdp,codex,how='left',on='Nation_State')
merge0.head()

  Nation_State  CW_RevGDP_mean NS_code
0        Aruba             NaN     ABW
1  Afghanistan       -0.218859     AFG
2       Angola       -0.199260     AGO
3      Albania       -0.060927     ALB
4      Andorra             NaN     AND

In [0]:
merge0.drop(columns='Nation_State',inplace=True)
merge0.head()

   CW_RevGDP_mean NS_code
0             NaN     ABW
1       -0.218859     AFG
2       -0.199260     AGO
3       -0.060927     ALB
4             NaN     AND

In [0]:
revgdp_sb = pd.merge(hpi,merge0,how='left',on='NS_code')
revgdp_sb.head()

  NS_code Nation_State  TARG_HPI_trend_coeff  TARG_HPI_mean  CW_RevGDP_mean
0     ALB      Albania              0.152621       0.772789       -0.060927
1     DZA      Algeria              0.065685       0.751174             NaN
2     AGO       Angola              0.030949      -1.138538       -0.199260
3     ARG    Argentina              0.029558       1.154674       -0.268752
4     ARM      Armenia              0.031056       0.049490        0.149151

In [0]:
revgdp_sb.describe()

       TARG_HPI_trend_coeff  TARG_HPI_mean  CW_RevGDP_mean
count            158.000000     158.000000      133.000000
mean              -0.002703      -0.026705        0.099145
std                0.078185       0.929797        0.926361
min               -0.272534      -1.782657       -0.304239
25%               -0.047502      -0.766494       -0.275878
50%                0.004260       0.026608       -0.249627
75%                0.046848       0.611483       -0.060927
max                0.188512       2.405412        6.342842

In [0]:
downloadable = merge0.set_index('NS_code')
downloadable

In [0]:
downloadable.to_excel("HPI_name_mergeable.xlsx")